<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ArtesanIO - Moocsy</title>
        <link rel="stylesheet" href="{{ asset('bower/bootstrap/dist/css/bootstrap.min.css') }}" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="{{ asset('bower/alertifyjs/dist/css/alertify.css') }}" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="{{ asset('bower/alertifyjs/dist/css/alertify-bootstrap.css') }}" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="{{ asset('bundles/moocsy/css/app.css') }}" media="screen" title="no title" charset="utf-8">
        {% block artesanus_css %}{% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('moocsy_admin_courses') }}">Admin</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if app.user.name == "" %} {{ app.user.username }} {% else %} {{ app.user.name }} {% endif %} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('artesanus_front_user_profile') }}">Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

        <div id="wrap-moocsy">
            {{ flashers() }}

            {% block moocsy %}{% endblock %}
        </div>

        <script src="{{ asset('bower/jquery/dist/jquery.min.js') }}" charset="utf-8"></script>
        <script src="{{ asset('bower/bootstrap/dist/js/bootstrap.min.js') }}" charset="utf-8"></script>

        {% block artesanus_js %}{% endblock %}

        </body>
</html>
